body{
    margin: auto 0;
}

a{
    text-decoration: none;
}

hr{
    width: 20%;
    color: white;
}

.nav-list{
    padding: 0;
    display: flex;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list a{
    color: black;
    padding: 8px;
    font-size: 0.5em;
}

.list a:hover{
    color: brown;
}

.push{
    margin-right: auto;
    margin-left: 1em;
}

.btn1 a{
    border: 1px solid black;
    padding: 4px 10px;
    margin-right: 1em;
}

.btn1 a:hover{
    box-shadow:rgba(0,0,0,0.1) 1px 1px 1px;
    transform: scale(1,1);
}

#cover{
    display: grid;
    grid-template-columns: 1fr;
}

.cover-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: hsl(256, 26%, 20%);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 1.5;
    height: 180vh;
}

.cover-texts{
    padding: 1% 10%;
    text-align: center;
}

.cover-texts hr{
    opacity: 0;
}

.intro-left{ 
    padding: auto;
    justify-self: start;
}

.intro-right{
    margin-top: -6rem;
    justify-self: end;
}

.cover-container a{
    color: antiquewhite;
    border: 1px solid white;
    padding: 3% 8%;
    font-family: sans-serif;
}

.cover-texts .btn2{
    margin-top: 3em;
}

.btn2 a:hover{
    color: aqua;
    box-shadow:rgba(0,0,0,0.3) 1px 2px 2px;
    transform: scale(1,1);
}

.intro-img{
    grid-row: 1;
    width: 100%;
}

#main{
    max-width: 90%;
    margin: auto;
}

.body{
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 4rem;
}

.body hr{
    color: black;
}

.body h2{
    font-size: 250%;
    font-family: sans-serif;
}

.body-content h3{
    font-size: 200%;
    font-family: sans-serif;
}

.body-content p{
    color: hsl(273, 4%, 51%);
    font-family: sans-serif;
}

.body-content-1, .body-content-2, .body-content-3{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.page-grid{
    background: hsl(256, 26%, 20%);
    position: relative;
    margin-bottom: 4rem;
}

.page-grid-img{
    position: absolute;
    top: 0;
    right: 0;
}

.page-grid-contents{
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    font-family: sans-serif;
    position: relative;
    z-index: 1;
}

.page-grid-btn a{
    color: white;
    font-size: 0.7em;
    border: 1px solid white;
    padding: 10px 30px;
}

.page-grid-btn a:hover{
    color: aqua;
    box-shadow:rgba(0,0,0,0.3) 1px 2px 2px;
    transform: scale(1,1);
}

.page-grid-btn{
    margin-bottom: 2rem;
}

footer{
    display: flex;
    flex-direction: column;
}

.insure{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
    align-items: center;
    background: url(../assets/bg-pattern-footer-mobile.svg) no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.footer-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

#footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 2.5;
    font-size: 0.8em;
    color: hsl(270, 9%, 17%);
    font-weight: 400;
    background: hsl(0, 0%, 98%);
}

#footer-list h4{
    font-size: 1.5em;
    color: hsl(273, 4%, 51%);
}

#footer-list a:hover{
    color: red;
}

@media only screen and (min-width: 600px) {
    #nav-container{
        max-width: 85%;
        margin: auto;
    }

    .nav-list{
        padding: 3px auto;
        font-size: 150%;
    }

    .list a{
        padding: 8px 15px;
    }

    .list a:hover{
        color: brown;
    }

    #cover{
        margin-bottom: 15rem;
    }

    .cover-container{
        display: flex;
        position: relative;
        height: 70vh;
    }
    
    .cover-texts{
        padding: 4rem 8rem;
        text-align: left;
    }

    .cover-texts hr{
        margin-left: 0;
        opacity: 50%;
    }

    .intro-left{ 
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .intro-right{
        position: absolute;
        right: 0;
        top: 6rem;
    }

    .intro-img{
        margin-right: 13rem;
        margin-top: 5rem;
        width: 400px;
        height: 450px;
        z-index: 1;
    }

    .body{
        text-align: left;
    }

    .body hr{
        margin-left: 0;
        opacity: 50%;
        width: 10%;
    }

    .body h2{
        font-size: 3.5em;
        color: hsl(270, 9%, 17%);
        margin-bottom: 0.5em;
    }

    .body-content{
        display: flex;
        gap: 2em;
    }

    .page-grid{
        max-width: 90%;
        margin: auto;
        position: relative;
        height: 40vh;
    }

   .page-grid-contents{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
   }

   .page-grid-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    }

    .page-grid-contents h2{
        text-align: left;
        margin-left: 1.5em;
    }

    .page-grid-btn{
        justify-self: end;
        font-size: 0.8em;
        margin-right: 2em;
    }

    .insure{
        display: flex;
        max-width: 95%;
        margin: auto;
        margin-top: 2em;
        background-position: center;
    }

    .insure-logo{
        margin-right: auto;
    }
   
    #footer-list{
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
        text-align: left;
        padding-bottom: 2em;
    }

}